html, body {
	background: #333;
	color: #EEE;
}

.left-justified {
	text-align: left !important;
}

.content-section {
	height: 65%;
	background: #FFC;
	color: #333;
	text-align: center;
	
	padding: 0.5em;
	
	border: 1px solid #333;
	border-radius: 0.5em;
}